<section>
    <div class="container mt-5">
        <form action="/place-order" id="checkout-form" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <h2>Enter Delivery Details</h2><br>
                    <div>
                        <label for="">Address</label>
                        <input class="form-control" type="text" id="address" name="address">

                        <label for="">Pincode</label>
                         <input class="form-control" type="text" id="pincode" name="pincode">

                         <label for="">Mobile</label>
                          <input class="form-control" type="text" id="mobile" name="mobile">
                          <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container mt-5 ml-5 checkout">
                        <h5>Total Amount:Rs.{{total}}</h5>
                        <hr>
                        <div class="payment">
                            <p>Payment Method</p>
                            <label classs="radio-inline">
                                 <input  type="radio"  name="payment-method" value="COD" checked>COD
                            </label>
                            <label class="radio-inline mt-2">
                                <input type="radio" name="payment-method" value="ONLINE">Online Payment
                            </label>
                            <button class="btn btn-primary float-right" type="submit">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    $("#checkout-form").submit((e)=>{
        e.preventDefault()

        const formData = {
            address: $('#address').val(),
            pincode: $('#pincode').val(),
            mobile: $('#mobile').val(),
            userId: "{{user._id}}", // Get the user ID from Handlebars
            'payment-method': $('input[name=payment-method]:checked').val()

        }



        $.ajax({
            url:'/place-order',
            method:'post',
            data: formData,
            success:(response)=>{
                alert(response)
                if(response.codSuccess){
                    
                    location.href='/order-success'
                }else{
                     razorpayPayment(response)
                }
            }
        })
    })
            function razorpayPayment(order){
                var options = {
    "key": "rzp_test_tiJ46PCempTcZR", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Cindila", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
      

        verifyPayment(response,order)
    },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
 
var rzp1 = new Razorpay(options)
            
rzp1.open();
            }
function verifyPayment(payment,order){
            $.ajax({
                url:'/verify-payment',
                data:{
                        payment,
                        order
                },
                method:'post',
                success:(response)=>{
                    if(response.status){
                        location.href='/order-success'
                    }else{
                        alert("payment failed")
                    }
                }
            })
        }


  

</script>
<style>
    input[type=radio]{
        width:20px;
        height: 20px;
    }
    label.radio-inline{
        display: flex;
        align-items:center;
    }
    .checkout{
        border: 1px solid;
        border-radius: 3px;
        padding: 30px;
    }
    .payment{
        padding-bottom:16px;
    }
</style>